<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment2 :: head">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop"
                    class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="d-flex justify-content-center">

                    <section style="text-align: center">
                        <h3> Add Fee </h3>
                    </section>

                    <div id="formContent" style="margin-top: -2px; padding: 10px;">
                        <!-- Login Form -->
                        <form class="addUserForm"
                              th:action="@{/school/{code}/feeRecord(code=${school.code})}"
                              method="post">

                            <div class="form-group">
                                <label for="receiptNo"
                                       style="display: block; text-align: left; margin-bottom: -5px;">Enter
                                    Receipt Number</label> <input type="text" id="receiptNo"
                                                                  name="receiptNo" placeholder="Enter Receipt Number" required />
                            </div>
                            <div class="form-group">
                                <label for="admNo"
                                       style="display: block; text-align: left; margin-bottom: -5px;">Enter
                                    Student Admission Number</label> <input readOnly type="text" class="admNoInput" id="admNo"
                                                                            name="admNo" placeholder="Enter Student Number" required />
                            </div>
                            <div class="form-group">
                                <label for="amount"
                                       style="display: block; text-align: left; margin-bottom: -5px;">Enter
                                    Fee Amount</label> <input type="number" id="amount" name="amount"
                                                              placeholder="Enter Fee Amount" required />
                            </div>
                            <button type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#addFeeModal"><i class="fas fa-fw fa-plus"></i> Allocation </button>
                            <h6> Allocations </h6>
                            <div class="table-responsive">
                                <table class="table" id="allocations">
                                    <thead>
                                    <tr>
                                        <th scope="col"> Vote Head </th>
                                        <th scope="col"> Amount </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <button class="btn btn-success" type="submit"
                                    style="margin-top: 10px;">
                                <i class="fas fa-fw fa-plus"></i> Add Fee
                            </button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer2"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll"></a>

<!-- Logout modal -->
<div th:replace="fragments :: logoutModal"></div>

<div th:replace="fragments :: endScript"></div>
<script>
    $(function(){
        $('#addFeeInModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.admNoInput').val(recipient)
        })
    });
</script>

</body>

</html>
