<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body
	style="padding-top: 20px; font-family: Sans-Serif; height: 100%; width: 100%; position: absolute;">

	<nav th:replace="fragments :: header"></nav>

	<div class="container-fluid" style="height: 110%;" id="mainBody">

		<div class="d-flex justify-content-center" style="margin-top: 20px;">
			<div id="formContent" style="background-color: #DDDDDD;">
				<!-- Tabs Titles -->
				<section id="loginSection">

					<div class="alert alert-success" th:if="${success}">
						<p class="text text-center">Registration successful!! Please
							Sign in to continue</p>
					</div>
					<div class="alert alert-danger" th:if="${param.error}">
						<p class="text text-center">Wrong credentials!! Try again</p>
					</div>
					<div class="alert alert-info" th:if="${param.logout}">
						<p class="text text-center">You have logged out!! Successfully</p>
					</div>
					<div class="alert alert-success" th:if="${message}">
						<p class="text text-center" th:text="${message}">Registration
							successful!! Please Sign in to continue</p>
					</div>
				</section>

				<!-- Icon -->
				<div>
					<img th:src="@{/img/avataaars.svg}" id="icon" alt="User Icon"
						height=60px; />
				</div>

				<!-- Login Form -->
				<form class="loginForm fadeIn first" th:action="@{/login}"
					method="post">
					<div class="form-group">
						<label for="username"
							style="display: block; color: #012237; text-align: left;"><i
							class="fas fa-fw fa-user"></i> Enter Username</label> <input type="text"
							id="username" name="username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="password"
							style="display: block; color: #012237; text-align: left;"><i
							class="fas fa-fw fa-user-lock"></i> Enter Password</label> <input
							type="password" id="password" name="password"
							placeholder="password">
					</div>

					<button class="btn btn-primary" id="login">
						Log in <i class="fas fa-fw fa-sign-in-alt"></i>
					</button>
				</form>

				<!-- Remind Passowrd -->
				<div id="formFooter" style="background-color: #D1D0D6;">
					<a class="underlineHover" th:href="@{/changePassword}">Forgot
						Password?</a>
				</div>


			</div>
		</div>


	</div>

	<div th:replace="fragments :: footer"></div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js}"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>