<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment2 :: head">
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="fragments :: sidebar"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop"
					class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'ADMIN'}"><a
							th:href="@{/adminHome}">Home</a></li>
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'DEPUTYPRINCIPAL'}"><a
							th:href="@{/schools/deputyPrincipal}">Home</a></li>
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'PRINCIPAL'}"><a
							th:href="@{/schools/principal}">Home</a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/adminHome/school/{code}(code=${school.code})}"
							th:text="${school.name}">School</a></li>
						<li class="breadcrumb-item active" aria-current="page">Teachers</li>
					</ol>
				</nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<div class="d-flex justify-content-between">
						<section>
							<h3 th:text="${school.name} + ' Teachers'">Teachers</h3>
						</section>
						<nav class="navbar navbar-expand-lg navbar-light">
							<div class="d-flex justify-content-end"
								style="padding-bottom: 20px;">
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#addStudentModal">Add
									Teacher</button>

							</div>
						</nav>
					</div>


					<div class="alert alert-danger" th:if="${fail}" th:text="${fail}">
						Teacher exists</div>

					<div class="alert alert-success" th:if="${success}"
						th:text="${success}">Teacher saved</div>

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">First Name</th>
									<th scope="col">Second Name</th>
									<th scope="col">Third Name</th>
									<th scope="col">Adm No.</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<div th:unless="${teachers} and ${teachers.size()}">
									<br>
									<p class="text text-center alert alert-warning">No Teacher
										has been added</p>
								</div>
								<tr th:each="teacher : ${teachers}">
									<td th:text="${teacher.firstname}">first name</td>
									<td th:text="${teacher.secondname}">second name</td>
									<td th:text="${teacher.thirdname}">third name</td>
									<td th:text="${teacher.role.name}">role</td>
									<td>
										<div class="d-flex justify-content-center">
											<a
												th:href="@{/adminHome/users/{username}(username=${teacher.username})}"
												class="btn btn-primary"> View </a>
										</div>
									</td>
									<td>
										<div class="d-flex justify-content-center">
											<a
												th:href="@{/school/teachers/{username}(username=${teacher.username})}"
												class="btn btn-danger"> Delete </a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:replace="fragments :: footer2"></footer>
			<!-- End of Footer -->

			<!-- Add school model -->
			<div class="modal fade" id="addStudentModal" tabindex="-1"
				role="dialog" aria-labelledby="addStudentModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addStudentModalLabel">Add
								Teacher</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="d-flex justify-content-center">
								<div id="formContent" style="margin-top: -2px; padding: 10px;">
									<!-- Login Form -->
									<form class="addUserForm" th:action="@{/school/teachers}"
										method="post" th:object="${user}">
										<div class="form-group fadeIn first">
											<label for="firstname"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												First Name</label> <input type="text" id="firstname"
												th:field="*{firstname}" class="fadeIn first"
												name="firstname" placeholder="Enter First Name" required />
										</div>
										<div class="form-group fadeIn first">
											<label for="secondname"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Second Name</label> <input type="text" id="secondname"
												th:field="*{secondname}" class="fadeIn first"
												name="secondname" placeholder="Enter Second Name" required />
										</div>
										<div class="form-group fadeIn first">
											<label for="thirdname"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Third Name</label> <input type="text" id="thirdname"
												th:field="*{thirdname}" class="fadeIn first"
												name="thirdname" placeholder="Enter Third Name" required />
										</div>
										<div class="form-group fadeIn second">
											<label for="username"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Username</label> <input type="text" id="username"
												th:field="*{username}" class="fadeIn second" name="username"
												placeholder="Enter Username" required />
										</div>
										<div class="form-group fadeIn third">
											<label for="password"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												password </label> <input type="password" id="password"
												th:field="*{password}" class="fadeIn second" name="password"
												placeholder="Enter Password" required />
										</div>
										<div class="form-group fadeIn third">
											<label for="phoneNumber"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Phone Number</label> <input type="text" id="phoneNumber"
												th:field="*{phoneNumber}" class="fadeIn third"
												name="phoneNumber" placeholder="Enter Phone Number" required />
										</div>
										<div class="form-group fadeIn second">
											<label for="address"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Address</label> <input type="text" id="address"
												th:field="*{address}" class="fadeIn second" name="address"
												placeholder="Enter Address" required />
										</div>
										<div class="form-group fadeIn second">
											<label for="email"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Email</label> <input type="email" id="email" th:field="*{email}"
												class="fadeIn second" name="email" placeholder="Enter Email"
												required />
										</div>
										<div class="form-group">
											<label for="teacherNumber"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												Teachers Number</label> <input type="text" id="teacherNumber"
												name="teacherNumber" placeholder="Enter Teacher's Number" />
										</div>
										<div class="form-group">
											<label for="tscNumber"
												style="display: block; text-align: left; margin-bottom: -5px;">Enter
												T.S.C Number</label> <input type="text" id="tscNumber"
												name="tscNumber" placeholder="Enter T.S.C Number" />
										</div>

										<input type="hidden" th:value="teacher" name="role" id="role" />
										<input type="hidden" th:value="${school.code}" name="code"
											id="code" />

										<button class="btn btn-primary fadeIn fourth" type="submit"
											style="margin-top: 10px;">Add Teacher</button>
									</form>
								</div>

							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a th:replace="fragments :: scroll"></a>

	<!-- Logout modal -->
	<div th:replace="fragments :: logoutModal"></div>
	<div th:replace="fragments :: endScript"></div>
	<script th:src="@{/js/index.js}"></script>

</body>

</html>
