<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment2 :: head">
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="fragments :: sidebar"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop"
					class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/teacherHome}">Home</a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/adminHome/school/{code}(code=${school.code})}"
							th:text="${school.name}">School</a></li>
						<li class="breadcrumb-item active" aria-current="page">Students</li>
					</ol>
				</nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<div class="d-flex justify-content-between">
						<section>
							<h3 th:text="${school.name} + ' Students'">Students</h3>
						</section>
						<nav class="navbar navbar-expand-lg navbar-light">
							<div class="d-flex justify-content-end"
								style="padding-bottom: 20px;">
								<a class="btn btn-primary"
									th:href="@{/schools/{code}/addStudent(code=${school.code})}">
									<i class="fas fa-fw fa-plus"></i> Add Student </a>
								<button type="button" class="btn btn-primary"
									th:if="${students} and ${students.size()}" data-toggle="modal"
									data-target="#addMarksModal" style="margin-left: 10px;"> <i class="fas fa-fw fa-plus"></i> Add
									Marks</button>
							</div>
						</nav>
					</div>

					<div class="alert alert-danger" th:if="${fail}" th:text="${fail}">
						Student exists</div>

					<div class="alert alert-success" th:if="${success}"
						th:text="${success}">Student saved</div>

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">First Name</th>
									<th scope="col">Second Name</th>
									<th scope="col">Third Name</th>
									<th scope="col">Adm No.</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<div th:unless="${students} and ${students.size()}">
									<br>
									<p class="text text-center alert alert-warning">No Student
										has been added</p>
								</div>
								<tr th:each="student : ${students}">
									<td th:text="${student.firstname}">firstname</td>
									<td th:text="${student.secondname}">secondname</td>
									<td th:text="${student.thirdname}">thirdname</td>
									<td th:text="${#strings.substringAfter(student.admNo,'_')}">admNo</td>
									<td>
										<div class="d-flex justify-content-center">
											<a
												th:href="@{/schools/{code}/student/{admNo}(code=${school.code}, admNo=${student.admNo})}"
												class="btn btn-primary"> View <i class="fas fa-fw fa-book-reader"></i></a>
										</div>
									</td>
									<td>
										<div class="d-flex justify-content-center">
											<a
											data-toggle="modal" href="#" data-target="#deleteStudentModal"
												th:data-href="@{/schools/{code}/students/{admNo}(code=${school.code}, admNo=${student.admNo})}"
												class="btn btn-danger"> Delete <i class="fas fa-fw fa-trash-alt"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:replace="fragments :: footer2"></footer>
			<!-- End of Footer -->

			<!-- Add marks model -->
			<div class="modal fade" id="addMarksModal" tabindex="-1"
				role="dialog" aria-labelledby="addMarksModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addMarksModalLabel">Add Marks</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="d-flex justify-content-center">
								<div id="formContent" style="margin-top: -2px; padding: 10px;">
									<!-- Marks Form -->
									<form class="addMarksForm"
										onSubmit="event.preventDefault(); getTeacherSubjects();">
										<input type="hidden" id="inputMarksCode" th:value="${school.code}" /> <select
											name="year" id="yearMarksInput" required>
											<option value="">Select Academic Year ...</option>
											<option th:value="${year.year}" th:each="year : ${years}"
												th:text="${year.year}">Year</option>
										</select> <select  id="formMarksInput" name="form"
											required><option value="">Select Form ...</option>
											<option value="1">Form 1</option>
											<option value="2">Form 2</option>
											<option value="3">Form 3</option>
											<option value="4">Form 4</option>
										</select> <select onchange="getExams()"
											name="term" id="termMarksInput" required><option
												value="">Select Term ...</option>
											<option value="1">Term 1</option>
											<option value="2">Term 2</option>
											<option value="3">Term 3</option>
										</select> <select name="subject"
											id="subjectMarksInput" required>
											<option value="">Select Subject ...</option>
											<option th:value="${subject.initials}"
												th:each="subject : ${subjects}" th:text="${subject.name}">Subject
												Name</option>
										</select> <select name="examType"
											id="examMarksType" required><option value="">Select
												Exam ...</option>
										</select> <select name="stream"
											id="streamMarksInput" required>
											<option value="">Select Stream ...</option>
											<option th:value="${stream.id}" th:each="stream : ${streams}"
												th:text="${stream.stream}">Stream Name</option>
										</select>
										<button class="btn btn-success" type="submit"
											style="margin-top: 10px;"> <i class="fas fa-fw fa-plus"></i> Open Marks Sheet </button>
									</form>
								</div>

							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger"
								data-dismiss="modal">Close <i class="fas fa-fw fa-times"></i></button>
						</div>

					</div>
				</div>
			</div>
			
			<!-- Delete Student Model -->
			<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog"
				aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title text-danger" id="deleteStudentModalLabel">Delete
								Student</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="text-danger">All student details and information
								will be deleted and will not be recovered. Are you sure you want
								to delete?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success"
								data-dismiss="modal">No! Don't Delete <i class="fas fa-fw fa-times"></i></button>
							<a class="btn btn-danger ok-button">Yes! Delete <i class="fas fa-fw fa-trash-alt"></i></a>
						</div>
					</div>
				</div>
			</div>
			

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a th:replace="fragments :: scroll"></a>

	<!-- Logout modal -->
	<div th:replace="fragments :: logoutModal"></div>
	<div th:replace="fragments :: endScript"></div>
	<script th:src="@{/js/index.js}"></script>
	<script type="text/javascript">
		function getExams() {

			var year = document.getElementById("yearMarksInput").value;
			var form = document.getElementById("formMarksInput").value;
			var term = document.getElementById("termMarksInput").value;
			var code = document.getElementById("inputMarksCode").value;
			var select = document.getElementById('examMarksType');

			$.ajax({
				url : "/schools/" + code + "/years/" + year + "/forms/" + form
						+ "/terms/" + term + "/exams",
				method : "GET",
				success : function(data) {

					if (data.length > 0) {
						for (var i = 0; i < data.length; i++) {
							var opt = document.createElement('option');
							opt.value = data[i].id;
							opt.innerHTML = data[i].name;
							select.appendChild(opt);
						}
					} else {

						while (select.hasChildNodes()) {
							select.removeChild(select.childNodes[1]);
						}

						var opt = document.createElement('option');
						opt.value = "";
						opt.innerHTML = "No exam added";
						select.appendChild(opt);
					}

				},
				error : function(data) {
					alert("No exams found form");
				}
			});

		};
		
		$('#deleteStudentModal').on(
				'show.bs.modal',
				function(e) {
					$(this).find('.ok-button').attr('href',
							$(e.relatedTarget).data('href'));
				});
	</script>

</body>

</html>
