<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment2 :: head">
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="fragments :: sidebar"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop"
					class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'ADMIN'}"><a
							th:href="@{/adminHome}">Home</a></li>
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'DEPUTYPRINCIPAL'}"><a
							th:href="@{/schools/deputyPrincipal}">Home</a></li>
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'PRINCIPAL'}"><a
							th:href="@{/schools/principal}">Home</a></li>
						<li class="breadcrumb-item"
							th:if="${activeUser.role.name == 'TEACHER'}"><a
							th:href="@{/schools/teacherHome}">Home</a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/school/{code}(code=${school.code})}"
							th:text="${school.name}"> School </a></li>
						<li class="breadcrumb-item active" aria-current="page">Timetable</li>
					</ol>
				</nav>
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<div class="d-flex justify-content-center">
						<h3 th:text="${school.name}">School Name</h3>
					</div>
					<div class="d-flex justify-content-center">
						<h4 th:text="'Form: ' + ${form} + ' - Term: ' + ${term}">
							Form 1 Term 1</h4>
					</div>
					<div class="d-flex justify-content-center">
						<h5 th:text="'Stream: ' + ${stream.stream} + ' timetable'">Stream:
							White Timetable</h5>
					</div>

					<div style="padding: 10px 20px;"
						class="d-flex flex-row-reverse bd-highlight">
						<button class="btn btn-primary" id="edit">Edit</button>
						<button class="btn btn-primary" style="display: none;" id="save" form="changeTimetable">
							Save</button>
					</div>

					<div class="table-responsive">
						<form
							th:action="@{/schools/{code}/years/{year}/forms/{form}/terms/{term}/streams/{stream}/timetable(code=${school.code}, year=${year}, form=${form}, term=${term}, stream = ${stream.id})}"
							method="Post" id="changeTimetable">
							<table class="table">
								<thead>
									<tr>
										<th scope="col" style="font-size: 25px; text-align: center;">#</th>
										<th scope="col">8:20-8:55</th>
										<th scope="col">8:55-9:30</th>
										<th scope="col">9:30-9:50</th>
										<th scope="col">9:50-10:25</th>
										<th scope="col">10:25-11:00</th>
										<th scope="col">11:00-11:30</th>
										<th scope="col">11:30-12:05</th>
										<th scope="col">12:05-12:40</th>
										<th scope="col">12:40-1:30</th>
										<th scope="col">1:30-2:00</th>
										<th scope="col">2:00-2:35</th>
										<th scope="col">2:35-3:10</th>
										<th scope="col">3:10-4:10</th>
									</tr>
								</thead>
								<tbody>
									<th:head th:unless="${timetables} and ${timetables.size()}">
										<br>
										<p class="text text-center alert alert-warning">No Student
											has been added</p>
									</th:head>
									<tr th:each="timetable,iter : ${timetables}">
										<th th:text="${timetable.day}">#</th>

										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time1'"
											th:value="${timetable.time1}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time1}"> time1 </span></td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time2'"
											th:value="${timetable.time2}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time2}"> time2 </span></td>
										<td th:text="${timetable.time3}">time 3</td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time4'"
											th:value="${timetable.time4}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time4}"> time4 </span></td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time5'"
											th:value="${timetable.time5}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time5}"> time5 </span></td>
										<td th:text="${timetable.time6}">time 6</td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time7'"
											th:value="${timetable.time7}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time7}"> time7 </span></td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time8'"
											th:value="${timetable.time8}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time8}"> time8 </span></td>
										<td th:text="${timetable.time9}">time 9</td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time10'"
											th:value="${timetable.time10}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time10}"> time10 </span></td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time11'"
											th:value="${timetable.time11}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time11}"> time11 </span></td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time12'"
											th:value="${timetable.time12}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time12}"> time12 </span></td>
										<td><input class="change form-control" type="text"
											th:name="${iter.index + 1} + 'time13'"
											th:value="${timetable.time13}"
											style="display: none; font-size: 16px; padding: 6px 1px;">
											<span class="spanChange" th:text="${timetable.time13}"> time13 </span></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:replace="fragments :: footer2"></footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a th:replace="fragments :: scroll"></a>

	<!-- Logout modal -->
	<div th:replace="fragments :: logoutModal"></div>

	<div th:replace="fragments :: endScript"></div>
	<script>
		$(document).ready(function() {
			$("#save").click(function() {
				$("#edit").show();
				$("#save").hide();
			});
			$("#edit").click(function() {
				$("#save").show();
				$(".change").show()
				$(".spanChange").hide();
				$("#edit").hide();
			});
		});
	</script>

</body>

</html>
