<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment2 :: head">
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid" style="background-color: white;">

					<div class="border-bottom border-dark">

						<div style="text-align: center; padding-bottom: 20px;">
							<h4 th:text="${school.name}">School Name</h4>
							<h5 th:text="'Email: ' + ${school.email}">Email:</h5>
							<h5 th:text="'Tel: ' + ${school.contactNumber}">Tel:</h5>
							<h6>Discipline Report</h6>
						</div>

					</div>
					<div>

						<section style="padding: 20px; text-align: center;">

							<h5>
								<strong>Name:</strong> <span
									th:text="${student.firstname} + ' ' + ${student.secondname} + ' ' + ${student.thirdname}">
									name </span>.
							</h5>

							<h6>
								<b> Admission No:</b> <span
									th:text="${#strings.substringAfter(student.admNo,'_')}">
									adm </span>. <b style="margin-left: 10px;"> Form </b> <span
									th:text="${student.currentForm}"> 2 </span> <span
									th:text="${student.stream.stream}"> Blue </span>
							</h6>

						</section>

						<section style="padding-left: 20px; padding-bottom: 20px;">
							Leave Out Number: <span th:text="${discipline.id}" style="margin-right:20px;"> 21 </span>.
							Type of Leave out: <span th:text="${discipline.type}">
								Overnight </span>
						</section>

						<section style="padding-left: 20px; padding-right: 20px;"
							class="d-flex justify-content-between">
							<p>
								Leave Date : <span th:text="${discipline.depature}">
									2020-05-04 </span>
							</p>
							<p>
								Return Date : <span th:text="${discipline.arrival}">
									2020-05-07 </span>
							</p>
						</section>

						<section style="padding-left: 20px;">
							<p>Reason(S): <span th:text="${discipline.reason} + '.'">................................></span></p>
							
						</section>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="fragments :: endScript"></div>

</body>

</html>
